/* ------------- Formatações gerais ------------- */

@font-face {
    font-family: 'fonte nova';
    src: url(idroid.otf) format('opentype');
}
 
.bebas-neue-regular {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
}
  

*{
    margin: auto;
    font-family: "Bebas Neue", serif;    
}

body{
    background-color: #E8E7C2; 
}

/* ---------------------------------------------------- */

/* ------------- cabecalho ------------- */

#cabecalho{
    background-image: linear-gradient(#3AD07E, #2b995b, #1c5f3a, #14472b);
    height: 30%;
    box-shadow: 5px 8px 10px #4a4b4b70;
}


#cabecalho>h1{
    text-align: center;
    padding-top: 35px;
    color: white;
    font-size: 24px;
}

#cabecalho>h5{
    text-align: center;
    padding-top: 35px;
    color: #d2e9dc;
}

#cabecalho>nav{
    text-align: left;
    margin-left: 5px;
    padding-top: 40px;
    padding-bottom: 10px;
}

#cabecalho>nav>a{
    padding: 10px 5px 10px 5px;
    text-decoration: none;
    color: #3AD07E;
    
}

#cabecalho>nav>a:hover{
    background-color: #3AD07E;
    color: #0c2b1a;
    border-radius: 10%;
}

/* ---------------------------------------*/

/* ------------- Conteudo Principal -------------*/

#principal{
    background-color: white;
    width: auto;
    min-width: 300px;
    max-width: 920px;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 5px 10px 15px #4a4b4b70;
    
}

#principal>h2{
    font-family: 'fonte nova';
    color:#143A26 ;
}

#principal>h3{
    background-image: linear-gradient(to right, #87DFAF, #87dfaf7e, #87dfaf38, #87dfaf05);
    padding-left: 15px;
    
}

#principal>p{
    padding-top: 15px;
    padding-bottom: 15px;
    text-indent: 35px;
    line-height: 30px; /* aumenta a altura da linha */
    text-align: justify;
}

#principal>.imagens{
    display: block;
    text-align: center;
    width: 290px;
    margin: 20px 20px 20px;
}

#bugdroid{
    display: block;
    width: 350px;
}

#fundo-video{
    background-color: #032B15;
    position: relative;
    padding-bottom: 60%;
    padding: 20px;
    margin: 0px -20px 30px -20px;
    width: 100%;
    height: 420px;
    
}

#fundo-video > iframe{
    width: 60%;
    height: 380px;
    position: absolute;
    top: 10%;
    left: 16%;
}

.link{
    color: #0c2b1a;
    font-weight: bolder;
}

.link>a{
    color: #143A26;
    background-color: #83E1AC;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: none;
    font-weight: bolder;
}


#note{
    margin-top: 25px;
    border-radius: 15px;
    background-color: #7FE1A9;
    box-shadow: 15px 10px 10px rgba(128, 128, 128, 0.356);
    width: 920px;
    width: auto;
    height: auto;
    min-height: 420px;
}

#note>h3{
    border-radius: 10px 10px 0px 0px ;
    height: 30px;
    padding-top: 15px;
    padding-left: 5px;
    color: white;
    background-color: #165C33;
    
}

#note>p{
    line-height: 35px;
    text-indent: 35px;
    padding: 10px;
}

#lista{
    list-style-position: inside;
    list-style: none;
    columns: 2;

}


.underline{
    text-decoration: underline;
}

/* --------------------------------------- */

/*------------------ Rodape ---------------------*/

#rodape{
    width: 100%;
    margin-top: 50px;
    font-size: 0.8em;
    text-align: center;
    background-color: #032B15;
    padding: 5px;
}

#rodape>p{
    color: white;
}

.mencao{
    color: #9bccb1;
}

/*---------------------------------------*/